@model MVCShop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>ZARZĄDZAJ KONTEM</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-right">Historia zamówień:</dt>
        <dd class="col-sm-9 text-left">
            [
                @Html.ActionLink("Przejdź", "UserHistory", "Orders")
            ]
        </dd>
        <dt class="col-sm-3 text-right">Hasło:</dt>
        <dd class="col-sm-9 text-left">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.Surname)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.Surname)</dd>
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.Netto)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.Netto)</dd>
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.Newsletter)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.Newsletter)</dd>
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.ProductsPerPage)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.ProductsPerPage)</dd>
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.PersonalDiscount)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.PersonalDiscount)</dd>
        <dt class="col-sm-3 text-right">Adres</dt>
        <dd class="col-sm-9 text-left">
            <div class="col">@Html.DisplayFor(model => model.Address.PostalCode)</div>
            <div class="col">@Html.DisplayFor(model => model.Address.City)</div>
            <div class="col">@Html.DisplayFor(model => model.Address.StreetAddress)</div>
        </dd>
    </dl>
</div>
<p>@Html.ActionLink("Edytuj preferencje", "EditPreferences")</p>
