@model MVCShop.Models.Order
@using MVCShop.Models
@{
    ViewBag.Title = "Details";
}

<h2>SZCZEGÓŁY ZAMÓWIENIA</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderProducts)
        </dt>

        <dd>
            @foreach(var item in (List<OrderProduct>)ViewBag.OrderProducts)
            {
                <div class="row" style="margin-left: 1px">@item.Product.Name</div>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Powrót do Listy", "Index")
</p>
