@model IEnumerable<MVCShop.Models.Order>

@{
    ViewBag.Title = "UserHistory";
}

<h2>Historia zamówień</h2>

@if (Model.Count() == 0)
{
    <h3>Niestety nie zamawiałeś jeszcze nic w naszym sklepie</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                Lp.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderProducts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingMethod)
            </th>
            <th></th>
        </tr>
        @{ 
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++i).
                </td>
                <td>
                    @foreach (var it in item.OrderProducts)
                    {
                    <p>@Html.ActionLink((it.Product.Name), "Details", "Products", new { id = it.Product.Name })</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingMethod)
                </td>
                <td>
                    @Html.ActionLink("Złóż ponownie", "Reorder", new { id = item.OrderID })
                    @if (item.State == "niezrealizowane")
                    {
                        @Html.DisplayName(" | ")
                        @Html.ActionLink("Zobacz stan zamówienia", "StateDetails", new { id = item.OrderID })
                    }
                </td>
            </tr>
        }

    </table>
}
