@model IEnumerable<MVCShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Twój koszyk: </h2>

@{
    if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryID)
                </th>
                <th>
                    Liczba
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descritpion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th></th>
            </tr>
            @{ int i = 0;
                List<int> productQuantities = (List<int>)ViewBag.productsQuantities;}
            @{

                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>

                        <td>
                            @productQuantities[i++]
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Descritpion)
                        </td>
                        <td>
                            @if (item.Picture != null)
                            {
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" width="80" height="80" />
                            }
                            else
                            {
                                <img src="#" alt="zdjęcie" width="80" height="80" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink(" + ", "Increase", new { id = item.ProductID }) |
                            @Html.ActionLink("- ", "Decrease", new { id = item.ProductID }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.ProductID }) |
                            @Html.ActionLink("Usuń pozycję", "Delete", new { id = item.ProductID })
                        </td>
                    </tr>
                }

            }


        </table>

        <p><h3>Łącznie do zapłaty: @ViewBag.priceSum zł</h3></p>
        @Html.ActionLink("Złóż zamówienie", "Place", "Orders" , null, new { @class = "btn btn-primary" })
    }
    else
    {
        <p><h3>Koszyk jest pusty</h3></p>
    }



}

